@media (min-width:600px) {
    footer{ width: 100%;
        bottom: 0;
        margin: 0;
    }
.footer {
    width: 100%;
    background-color: rgba(194, 244, 242, 0.652);
    margin: 0;
    text-align: center;
}
 .footer .footer-content {
    max-width: 90%;
    margin: 5%;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-content .my-logo {
    width: 100px;
    height: auto;
    border-radius: 50%;
    transition: opacity 0.3s;
}
 .footer-content .my-logo:hover {
    opacity: 0.5;
}
.footer .site-title {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
    text-align: center;
    margin-top: 10px;
}
.footer .site-title:hover {
    color: rgb(0, 0, 112);
    text-shadow: 1px 1px 5px red;
}
.footer .policies {
    width: 100%;
    list-style-type: none;
    padding: 0;
    display: inline-block;
    gap: 15px;
    text-align: center;
}
.footer .policies li {
    display: inline-flex;
}
.footer .policies a {
    font-size: 1rem;
    text-decoration: none;
    color: black;
}
.footer .policies a:hover {
    text-decoration: underline;
}
}

@media (max-width:599.99px){
    .footer {
    width: 100%;
    margin: 0;
    text-align: center;
}
.footer .footer-content {
    max-width: 90%;
    margin: 10%;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-content .my-logo {
    width: 100px;
    height: auto;
    border-radius: 50%;
    transition: opacity 0.3s;
}
.footer .site-title {
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
    margin-top: 10px;
}
.footer .site-title:hover {
    color: rgb(0, 0, 112);
}
.footer .policies {
    list-style-type: none;
    text-align: center;
    padding: 0;
    display: flex;
    gap: 5px;
    width: 100%;
}
.footer .policies li {
    display: inline-block;
}
.footer .policies a {
    font-size: 1rem;
    text-decoration: none;
    color: black;
}
.footer .policies a:hover {
    text-decoration: underline;
}
}
